<% I18n.with_locale(@locale) do %>
  <p><%= t("mailer.password_reset.body", expiry: @expiry) %></p>
  <p><%= link_to t("mailer.password_reset.link_text"), edit_password_url(@user.password_reset_token) %></p>
<% end %>
