<%= tag.li id: dom_id(person), class: "person-row" do %>
  <%= link_to person.display_name, person %>
  <span class="years">
    <%= person.birth&.date_raw %><% if person.death %> – <%= person.death.date_raw %><% end %>
  </span>
<% end %>
