<div class="relation-group">
  <h3><%= label %></h3>
  <% if people.any? %>
    <ul>
      <% people.each do |relative| %>
        <li><%= link_to relative.display_name, relative %></li>
      <% end %>
    </ul>
  <% else %>
    <p class="muted"><%= t("family.none") %></p>
  <% end %>
</div>
