:root {
  /* Named color values */
  --lch-black: 16% 0.018 55;
  --lch-white: 97.98% 0.005 78.3;
  --lch-paper: 100% 0 0;
  --lch-gray: 96% 0.005 96;
  --lch-gray-dark: 92% 0.005 96;
  --lch-gray-darker: 75% 0.005 96;
  --lch-taupe: 60.7% 0.015 53.21;
  --lch-green: 61% 0.082 137.63;
  --lch-green-dark: 43.58% 0.066 138.12;
  --lch-green-light: 95.76% 0.014 128.63;
  --lch-red: 56.01% 0.131 33.15;
  --lch-red-light: 96.98% 0.009 34.3;
  --lch-orange: 70% 0.2 44;
  --lch-blue: 67.52% 0.066 229.68;
  --lch-pink: 65.88% 0.088 343.07;
  --lch-always-black: 0% 0 0;
  --lch-always-white: 100% 0 0;

  /* Abstractions */
  --color-bg: oklch(var(--lch-white));
  --color-surface: oklch(var(--lch-paper));
  --color-text: oklch(var(--lch-black));
  --color-text-reversed: oklch(var(--lch-white));
  --color-muted: oklch(var(--lch-taupe));
  --color-link: oklch(var(--lch-green-dark));
  --color-border: oklch(var(--lch-gray));
  --color-border-dark: oklch(var(--lch-gray-dark));
  --color-border-darker: oklch(var(--lch-gray-darker));
  --color-selected: oklch(var(--lch-green-light));
  --color-selected-dark: oklch(var(--lch-green));
  --color-negative: oklch(var(--lch-red));
  --color-negative-light: oklch(var(--lch-red-light));
  --color-negative-border: color-mix(in oklch, var(--color-negative) 35%, var(--color-bg));
  --color-positive: oklch(var(--lch-green));
  --color-alert: oklch(var(--lch-orange));
  --color-male: oklch(var(--lch-blue));
  --color-female: oklch(var(--lch-pink));
  --color-always-white: oklch(var(--lch-always-white));

  /* Redefine named color values for dark mode */
  @media (prefers-color-scheme: dark) {
    --lch-black: 94% 0.008 78;
    --lch-white: 18% 0.008 55;
    --lch-paper: 22% 0.008 55;
    --lch-gray: 26% 0.006 60;
    --lch-gray-dark: 31% 0.006 60;
    --lch-gray-darker: 45% 0.006 60;
    --lch-taupe: 68% 0.015 60;
    --lch-green: 70% 0.09 137.63;
    --lch-green-dark: 78% 0.08 138.12;
    --lch-green-light: 30% 0.03 135;
    --lch-red: 70% 0.14 30;
    --lch-red-light: 28% 0.04 30;
    --lch-blue: 58% 0.07 229.68;
    --lch-pink: 58% 0.09 343.07;
  }
}
