body {
  display: grid;
  grid-template-areas:
    "header"
    "toolbar"
    "main";
  grid-template-columns: minmax(0, 1fr);
  grid-template-rows: auto auto 1fr;
}

#header {
  grid-area: header;
}

#main {
  grid-area: main;
  inline-size: min(var(--main-width), 100%);
  margin-inline: auto;
  min-block-size: 0;
  padding: var(--block-space-double) var(--inline-space-double);
}

.full-bleed #main {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding: 0;
}

@media print {
  #header,
  #toolbar {
    display: none;
  }
}
